#.gitignore
Sources/build_no.h
Trial/.objects
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/slc_test
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.objects
Libraries/CANAPI/*.dylib
Libraries/CANAPI/*.so.*
Libraries/CANAPI/*.a
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug*
Libraries/CANAPI/Release*
Libraries/CANAPI/uvcanslc
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.vcxproj.user
Libraries/SerialCAN/.objects
Libraries/SerialCAN/*.dylib
Libraries/SerialCAN/*.so.*
Libraries/SerialCAN/*.a
Libraries/SerialCAN/.vs
Libraries/SerialCAN/x64
Libraries/SerialCAN/x86
Libraries/SerialCAN/Debug*
Libraries/SerialCAN/Release*
Libraries/SerialCAN/SerialCAN
Libraries/SerialCAN/*.sln
Libraries/SerialCAN/*.aps
Libraries/SerialCAN/*.vcxproj.user
Utilities/.vs
Utilities/x64
Utilities/x86
Utilities/Debug
Utilities/Release
Utilities/can_moni/.objects
Utilities/can_moni/.vs
Utilities/can_moni/x64
Utilities/can_moni/x86
Utilities/can_moni/Debug
Utilities/can_moni/Release
Utilities/can_moni/can_moni
Utilities/can_moni/*.sln
Utilities/can_moni/*.vcxproj.user
Utilities/can_test/.objects
Utilities/can_test/.vs
Utilities/can_test/x64
Utilities/can_test/x86
Utilities/can_test/Debug
Utilities/can_test/Release
Utilities/can_test/can_test
Utilities/can_test/*.sln
Utilities/can_test/*.vcxproj.user
#Tests
SerialCAN-cppcheck-build-dir
checker.txt
artifacts
Binaries
Includes
Testing
.vscode
*.exe
*.log
*.pdf
