#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/.objects
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/slc_test
Trial/slc_test.exe
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.objects
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug_dll
Libraries/CANAPI/Debug_lib
Libraries/CANAPI/Release_dll
Libraries/CANAPI/Release_lib
Libraries/CANAPI/uvcanslc
Libraries/CANAPI/*.so.*
Libraries/CANAPI/*.dylib
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.vcxproj.user
Libraries/SerialCAN/.objects
Libraries/SerialCAN/.vs
Libraries/SerialCAN/x64
Libraries/SerialCAN/x86
Libraries/SerialCAN/Debug_dll
Libraries/SerialCAN/Debug_lib
Libraries/SerialCAN/Release_dll
Libraries/SerialCAN/Release_lib
Libraries/SerialCAN/SerialCAN
Libraries/SerialCAN/*.so.*
Libraries/SerialCAN/*.dylib
Libraries/SerialCAN/*.sln
Libraries/SerialCAN/*.aps
Libraries/SerialCAN/*.vcxproj.user
Libraries/SLCAN/.objects
Libraries/SLCAN/libSLCAN.*
Libraries/SLCAN/libslcan.*
Utilities/can_moni/.objects
Utilities/can_moni/can_moni
Utilities/can_test/.objects
Utilities/can_test/can_test
SerialCAN-cppcheck-build-dir
checker.txt
Binaries
Includes
Testing
.vscode
*.log
